<div style="width: 100%;text-align: center;color: black;font-family: Tahoma;background-color: white;">
    <div class="page" style="padding: 50px;" *ngIf="order.search.status == 'all'">
        <h3>รายละเอียดรายการสั่งซื้อ</h3>
        <table style="font-size: 10px;">
            <tr>
                <th style="text-align: center;">ลำดับ</th>
                <th style="text-align: center;">หมายเลขพัสดุ</th>
                <th style="text-align: center;">ชื่อสินค้า</th>
                <th style="text-align: center;">ชนิดสินค้า</th>
                <th style="text-align: center;">จำนวน</th>
            </tr>
            <tr *ngFor="let order of orders;index as i">
                <td>
                    {{i+1}}
                </td>
                <td>
                    {{order.ord_tracking}}
                </td>
                <td>
                    {{order.pro_name}}
                </td>
                <td>
                    {{order.prot_name}}
                </td>
                <td>
                    {{order.ord_count}}
                </td>
            </tr>
            <tr *ngFor="let orders_agent of orders_agent;index as i">
                <td>
                    {{index+1+i}}
                </td>
                <td>
                    {{orders_agent.orda_tracking}}
                </td>
                <td>
                    {{orders_agent.pro_name}}
                </td>
                <td>
                    {{orders_agent.prot_name}}
                </td>
                <td>
                    {{orders_agent.orda_count}}
                </td>
            </tr>
        </table>
    </div>
    <div class="page" style="width: 500px;border: 1px solid black;" *ngFor="let order of orders">

        <div style="width: 500px;">
            <p style="font-size: 15px;text-align: left;color: blue;">*กรณีจัดส่งสินค้าไม่สำเร็จ กรุณาส่งคืน...</p>
        </div>

        <table>
            <tr>
                <td style="width: 50%;">
                    <div style="margin:15px;">
                        <p style="font-size: 18px;text-align: left;"><strong>ชื่อที่อยู่ผู้ส่งของ</strong></p>
                        <p style="font-size: 18px;text-align: left;">{{order.sho_name}}</p>
                        <p style="font-size: 13px;text-align: left;">{{order.sho_others}} {{order.sho_amphoe}}
                            {{order.sho_district}} {{order.sho_province}} {{order.sho_zipcode}}</p>
                        <p style="font-size: 15px;text-align: left;">เบอร์โทรศัพท์ {{order.sho_tel}}</p>
                        <br>
                        <p style="font-size: 18px;text-align: left;"><strong>กรุณาส่ง</strong></p>
                        <p style="font-size: 18px;text-align: left;">{{order.add_name}}</p>
                        <p style="font-size: 13px;text-align: left;">{{order.add_others}} {{order.add_amphoe}}
                            {{order.add_district}} {{order.add_province}}</p>
                        <p style="font-size: 15px;text-align: left;">เบอร์โทรศัพท์ {{order.add_tel}}</p>
                        <p style="font-size: 24px;text-align: center;"><strong>{{order.add_zipcode}}</strong></p>

                        <div style="border: 1px solid black;width: 200px;">
                            <span>Order No.</span>
                            <ngx-barcode [bc-width]="1" [bc-font-size]="10" [bc-value]="order.ord_tracking"
                                [bc-height]="30" [bc-display-value]="true"></ngx-barcode>
                        </div>
                        <div style="border: 1px solid black;width: 200px;margin-top: 10px;">
                            <span>Inv No</span>
                            <ngx-barcode [bc-width]="1" [bc-font-size]="10" [bc-value]="order.ord_tracking"
                                [bc-height]="30" [bc-display-value]="true"></ngx-barcode>
                        </div>
                    </div>
                </td>
                <td>
                    <div style="margin:15px;">
                        <div>
                            <p style="font-size: 28px;color: red;"><strong>บริการ e-Parcel</strong></p>
                            <p style="font-size: 24px;color: red;"><strong>Drop off</strong></p>
                        </div>
                        <div style="border: 1px solid black;width: 200px;">
                            <p style="font-size: 10px;">บริการจัดส่งพัสดุด่วนเพื่อธุรกิจ e-Commerce</p>
                            <p style="font-size: 10px;">(บริการ e-Parcel) ใบอนุญาตสำหรับลูกค้าธุรกิจ</p>
                            <p style="font-size: 10px;">เลขที่ ขล.000/2561</p>
                            <p style="font-size: 10px;">ชำระค่าบริการตาม ปณท กำหนด</p>
                        </div>
                        <div style="width: 200px;">
                            <img src="assets/img/EMS.jpg" width="200">
                        </div>
                        <div style="border: 1px solid black;width: 200px;">
                            <ngx-barcode [bc-width]="1" [bc-font-size]="10" [bc-value]="order.ord_tracking"
                                [bc-height]="30" [bc-display-value]="true"></ngx-barcode>
                        </div>
                        <div style="border: 1px solid black;width: 200px;margin-top: 10px;">
                            <p style="font-size: 24px;color: red;">ไม่เก็บเงินค่าสินค้า</p>
                        </div>
                        <div style="border: 1px solid black;width: 200px;margin-top: 10px;">
                            <p style="font-size: 15px;">มูลค่า : 0 บาท</p>
                        </div>
                    </div>
                </td>
            </tr>
        </table>

    </div>
    <div class="page" style="width: 500px;border: 1px solid black;" *ngFor="let order of orders_agent">

        <div style="width: 500px;">
            <p style="font-size: 15px;text-align: left;color: blue;">*กรณีจัดส่งสินค้าไม่สำเร็จ กรุณาส่งคืน...</p>
        </div>

        <table>
            <tr>
                <td style="width: 50%;">
                    <div style="margin:15px;">
                        <p style="font-size: 18px;text-align: left;"><strong>ชื่อที่อยู่ผู้ส่งของ</strong></p>
                        <p style="font-size: 18px;text-align: left;">{{order.orda_name}}</p>
                        <p style="font-size: 13px;text-align: left;">{{order.orda_others}} {{order.orda_amphoe}}
                            {{order.orda_district}} {{order.orda_province}} {{order.orda_zipcode}}</p>
                        <p style="font-size: 15px;text-align: left;">เบอร์โทรศัพท์ {{order.orda_tel}}</p>
                        <br>
                        <p style="font-size: 18px;text-align: left;"><strong>กรุณาส่ง</strong></p>
                        <p style="font-size: 18px;text-align: left;">{{order.add_name}}</p>
                        <p style="font-size: 13px;text-align: left;">{{order.add_others}} {{order.add_amphoe}}
                            {{order.add_district}} {{order.add_province}}</p>
                        <p style="font-size: 15px;text-align: left;">เบอร์โทรศัพท์ {{order.add_tel}}</p>
                        <p style="font-size: 24px;text-align: center;"><strong>{{order.add_zipcode}}</strong></p>

                        <div style="border: 1px solid black;width: 200px;">
                            <span>Order No.</span>
                            <ngx-barcode [bc-width]="1" [bc-font-size]="10" [bc-value]="order.orda_tracking"
                                [bc-height]="30" [bc-display-value]="true"></ngx-barcode>
                        </div>
                        <div style="border: 1px solid black;width: 200px;margin-top: 10px;">
                            <span>Inv No</span>
                            <ngx-barcode [bc-width]="1" [bc-font-size]="10" [bc-value]="order.orda_tracking"
                                [bc-height]="30" [bc-display-value]="true"></ngx-barcode>
                        </div>
                    </div>
                </td>
                <td>
                    <div style="margin:15px;">
                        <div>
                            <p style="font-size: 28px;color: red;"><strong>บริการ e-Parcel</strong></p>
                            <p style="font-size: 24px;color: red;"><strong>Drop off</strong></p>
                        </div>
                        <div style="border: 1px solid black;width: 200px;">
                            <p style="font-size: 10px;">บริการจัดส่งพัสดุด่วนเพื่อธุรกิจ e-Commerce</p>
                            <p style="font-size: 10px;">(บริการ e-Parcel) ใบอนุญาตสำหรับลูกค้าธุรกิจ</p>
                            <p style="font-size: 10px;">เลขที่ ขล.000/2561</p>
                            <p style="font-size: 10px;">ชำระค่าบริการตาม ปณท กำหนด</p>
                        </div>
                        <div style="width: 200px;">
                            <img src="assets/img/EMS.jpg" width="200">
                        </div>
                        <div style="border: 1px solid black;width: 200px;">
                            <ngx-barcode [bc-width]="1" [bc-font-size]="10" [bc-value]="order.orda_tracking"
                                [bc-height]="30" [bc-display-value]="true"></ngx-barcode>
                        </div>
                        <div style="border: 1px solid black;width: 200px;margin-top: 10px;">
                            <p *ngIf="order.orda_cod=='0'" style="font-size: 24px;color: red;">ไม่เก็บเงินค่าสินค้า</p>
                            <p *ngIf="order.orda_cod=='1'" style="font-size: 24px;color: red;">เก็บเงินปลายทาง</p>
                        </div>
                        <div style="border: 1px solid black;width: 200px;margin-top: 10px;">
                            <p *ngIf="order.orda_cod=='0'" style="font-size: 15px;">มูลค่า : 0 บาท</p>
                            <p *ngIf="order.orda_cod=='1'" style="font-size: 15px;">มูลค่า : 0 บาท</p>
                        </div>
                    </div>
                </td>
            </tr>
        </table>

    </div>