<div class="page-wrapper">
  <div class="content container-fluid">
    <div class="row">
      <div class="col-xs-4">
        <h4 class="page-title">รายการสั่งซื้อ</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive bottom40">
          <table datatable [dtOptions]="dtOptions" class="table table-striped custom-table">
            <thead>
              <tr>
                <th style="width: 100px">หมายเลข</th>
                <th>ชื่อลูกค้า</th>
                <th>นามสกุลลูกค้า</th>
                <th>ราคา</th>
                <th style="width: 120px">วันที่สั่งซื้อ</th>
                <th style="width: 100px">สถานะ</th>
                <th style="width: 30px">จัดการ</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let order of orders">
                <td>{{ order.code }}</td>
                <td>{{ order.fname}}</td>
                <td>{{ order.lname }}</td>
                <td>{{ order.price_total| currency:' ' }}</td>
                <td>{{ order.created_at}}</td>
                <td>
                  <span *ngIf="order.status == 'payment'" class="label status-payment-border">รอตรวจสอบ</span>
                  <span *ngIf="order.status == 'packing'" class="label status-packing-border">บรรจุสินค้า</span>
                  <span *ngIf="order.status == 'delivery'" class="label status-delivery-border">กำลังจัดส่ง</span>
                  <span *ngIf="order.status == 'finish'" class="label status-finish-border">สำเร็จ</span>
                  <span *ngIf="order.status == 'cancel'" class="label status-cancel-border">ยกเลิก</span>
                </td>
                <td class="text-right">
                  <div class="dropdown">
                    <a href="javascript:" class="action-icon dropdown-toggle" data-toggle="dropdown"
                      aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                    <ul class="dropdown-menu pull-right">
                      <li><a href="javascript:" (click)="clickShowDetailOrder(order)"><i
                            class="fa fa-list-alt m-r-5"></i>
                          รายละเอียด</a></li>
                      <!-- <li><a href="javascript:" (click)="clickCancelOrder(order)"><i class="fa fa-times m-r-5"></i>
                          ยกเลิก</a></li> -->
                    </ul>
                  </div>
                </td>
              </tr>
              <tr *ngIf="orders?.length == 0">
                <td colspan="9" class="no-data-available">ไม่พบข้อมูล!</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div id="order_detail" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <div class="modal-content modal-lg">
        <div class="modal-header">
          <h4 class="modal-title">รายละเอียดคำสั่งงาน หมายเลข {{order.code}}</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <h5>รายละเอียดูกค้า</h5>
              <table class="table table-striped custom-table">
                <tbody>
                  <tr>
                    <td>ชื่อ</td>
                    <td>{{ order.member.fname }}</td>
                  </tr>
                  <tr>
                    <td>นามสกุล</td>
                    <td>{{ order.member.lname }}</td>
                  </tr>
                  <tr>
                    <td>อีเมล</td>
                    <td>{{order.member.email }}</td>
                  </tr>
                  <tr>
                    <td>เบอร์โทรศัพท์</td>
                    <td>{{ order.member.tel }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-md-6">
              <h5>ที่อยู่จัดส่ง</h5>
              <table class="table table-striped custom-table">
                <tbody>
                  <tr>
                    <td>ชื่อ</td>
                    <td>{{ order.address.name }}</td>
                  </tr>
                  <tr>
                    <td>ที่อยู่</td>
                    <td>{{ order.address.others }} {{ order.address.district }} {{ order.address.amphoe }} {{ order.address.province }}</td>
                  </tr>
                  <tr>
                    <td>รหัสไปรษณีย์</td>
                    <td>{{order.address.zipcode }}</td>
                  </tr>
                  <tr>
                    <td>เบอร์โทรศัพท์</td>
                    <td>{{ order.address.tel }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-md-12">
              <h5>รายการสั่งซื้อ</h5>
              <table class="table table-striped custom-table">
                <thead>
                  <tr>
                    <th>รูปสินค้า</th>
                    <th>ชื่อสินค้า</th>
                    <th>รูปแบบสินค้า</th>
                    <th style="text-align: right;">ราคา</th>
                    <th style="text-align: right;">จำนวน</th>
                    <th style="text-align: right;">ราคารวม</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let pro of order.order_product">
                    <td><img width="80" [src]="pro.path"></td>
                    <td>{{ pro.name }}</td>
                    <td>{{ pro.type_name }}</td>
                    <td style="text-align: right;">{{ pro.price | currency:' '}}</td>
                    <td style="text-align: right;">{{ pro.count }}</td>
                    <td style="text-align: right;"><u>{{ pro.price*pro.count| currency:' '}}</u></td>
                  </tr>
                  <tr >
                    <td colspan="5" style="text-align: center;"><strong>ราคารวม</strong></td>
                    <td style="text-align: right;"><u>{{ order.price_total| currency:' '}}</u></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>