<div class="page-wrapper">
  <!-- Page Content -->
  <div class="content container-fluid">
    <div class="row">
      <div class="col-xs-4">
        <h4 class="page-title">ตั้งค่าเว็บ</h4>
      </div>
      <div class="col-xs-8 text-right m-b-30"></div>
    </div>
    

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>ตั้งค่าแบนเนอร์หน้าหลัก (1200 x 500)</label>
          <table class="table table-striped custom-table">
            <thead>
              <tr>
                <th style="width: 80px">รูปที่</th>
                <th>รูปแบนเนอร์</th>
                <th style="width: 30px">ลบ</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ban of setting.banner;index as i">
                <td style="width: 80px">{{i+1}}</td>
                <td *ngIf="ban.image == ''"><img style="height: 100px;margin: 5px;" [src]="ban.path" /></td>
                <td *ngIf="ban.image != ''"><img style="height: 100px;margin: 5px;" [src]="ban.image" /></td>
                <td style="width: 30px"><button class="btn btn-danger" type="button"
                    (click)="clickDeleteBanner(ban)">ลบ</button></td>
              </tr>
            </tbody>
          </table>

          <div class="m-t-20 text-center" *ngIf="setting.banner.length < 5">
            <button class="btn btn-success" type="button" (click)="uploadImage()">อัพโหลดรูปแบนเนอร์</button>
          </div>

          <input id="uploadImage" type="file" (change)="loadImage($event)" accept="image/x-png,image/jpeg"
            style="display: none;">
        </div>
      </div>
      <div class="col-md-12">
        <div class="m-t-20 text-center">
          <div *ngIf="massStatus" class="alert alert-info m-t-10">
            <strong>แจ้งเตือน!</strong> {{mass}}
          </div>
          <button class="btn btn-primary" type="button" (click)="clickSave()">บันทึก</button>
        </div>
      </div>
    </div>
  </div>
  <!-- /Page Content -->
</div>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>

