<div class="page-wrapper">
  <div class="content container-fluid">
    <div class="row">
      <div class="col-xs-4">
        <h4 class="page-title">ลูกค้า</h4>
      </div>
      <div class="col-xs-8 text-right m-b-30">
        <a href="javascript:" class="btn btn-primary rounded" (click)="clickShowAddMember()"><i class="fa fa-plus"></i>
          เพิ่มลูกค้า</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive bottom40">
          <table datatable [dtOptions]="dtOptions" class="table table-striped custom-table">
            <thead>
              <tr>
                <th style="width: 80px">รหัส</th>
                <th>อีเมล</th>
                <th>ชื่อ</th>
                <th>นามสกุล</th>
                <th>เบอร์โทรศัพท์</th>
                <th style="width: 30px">จัดการ</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let member of members">
                <td>{{ member.id }}</td>
                <td>{{ member.email }}</td>
                <td>{{ member.fname }}</td>
                <td>{{ member.lname }}</td>
                <td>{{ member.tel }}</td>
                <td class="text-right">
                  <div class="dropdown">
                    <a href="javascript:" class="action-icon dropdown-toggle" data-toggle="dropdown"
                      aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                    <ul class="dropdown-menu pull-right">
                      <li><a href="javascript:" (click)="clickShowUpdateMember(member)"><i
                            class="fa fa-pencil m-r-5"></i>
                          แก้ไข</a></li>
                      <li><a href="javascript:" (click)="clickShowUpdatePassword(member)"><i
                            class="fa fa-key m-r-5"></i>
                          เปลี่ยนรหัสผ่าน</a></li>
                      <!-- <li><a href="javascript:" (click)="clickDeleteCustomer(member)"><i
                            class="fa fa-trash-o m-r-5"></i>
                          ลบ</a></li> -->
                    </ul>
                  </div>
                </td>
              </tr>
              <tr *ngIf="members?.length == 0">
                <td colspan="6" class="no-data-available">ไม่พบข้อมูล!</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


  <div id="add_member" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <div class="modal-content modal-lg">
        <div class="modal-header">
          <h4 class="modal-title">เพิ่มสมาชิก</h4>
        </div>
        <div class="modal-body">
          <form class="m-b-30" #addForm="ngForm" (ngSubmit)="clickAddMember(addForm)" novalidate>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">ชื่อ <span class="text-danger">*</span></label>
                  <input class="form-control" type="text" name="fname" [(ngModel)]="member.fname" required>
                </div>
                <div class="form-group">
                  <label class="control-label">นามสกุล <span class="text-danger">*</span></label>
                  <input class="form-control" type="text" name="lname" [(ngModel)]="member.lname" required>
                </div>
                <div class="form-group">
                  <label class="control-label">หมายเลขโทรศัพท์ <span class="text-danger">*</span></label>
                  <input class="form-control" type="text" name="tel" [(ngModel)]="member.tel" required>
                </div>

              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">อีเมล <span class="text-danger">*</span></label>
                  <input class="form-control" type="text" name="email" [(ngModel)]="member.email" required>
                </div>
                <div class="form-group">
                  <label class="control-label">รหัสผ่าน <span class="text-danger">*</span></label>
                  <input class="form-control" type="password" name="password" [(ngModel)]="member.password" required>
                </div>

                <div class="form-group">
                  <label class="control-label">ยืนยันรหัสผ่าน <span class="text-danger">*</span></label>
                  <input class="form-control" type="password" name="password_confirm"
                    [(ngModel)]="member.password_confirm" required>
                </div>

              </div>
            </div>
            <div class="m-t-20 text-center">
              <div *ngIf="massStatus" class="alert alert-info m-t-10">
                <strong>แจ้งเตือน!</strong> {{mass}}
              </div>
              <button class="btn btn-primary" type="submit">เพิ่มสมาชิก</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div id="update_member" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <div class="modal-content modal-lg">
        <div class="modal-header">
          <h4 class="modal-title">แก้ไขสมาชิก</h4>
        </div>
        <div class="modal-body">
          <form class="m-b-30" #updateForm="ngForm" (ngSubmit)="clickUpdateMember(updateForm)" novalidate>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">ชื่อ <span class="text-danger">*</span></label>
                  <input class="form-control" type="text" name="fname" [(ngModel)]="member.fname" required>
                </div>
                <div class="form-group">
                  <label class="control-label">นามสกุล <span class="text-danger">*</span></label>
                  <input class="form-control" type="text" name="lname" [(ngModel)]="member.lname" required>
                </div>
                <div class="form-group">
                  <label class="control-label">หมายเลขโทรศัพท์ <span class="text-danger">*</span></label>
                  <input class="form-control" type="text" name="tel" [(ngModel)]="member.tel" required>
                </div>

              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">อีเมล</label>
                  <input class="form-control" type="text" name="email" [(ngModel)]="member.email" disabled>
                </div>

              </div>
            </div>
            <div class="m-t-20 text-center">
              <div *ngIf="massStatus" class="alert alert-info m-t-10">
                <strong>แจ้งเตือน!</strong> {{mass}}
              </div>
              <button class="btn btn-primary" type="submit">บันทึก</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div id="update_password" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <div class="modal-content modal-lg">
        <div class="modal-header">
          <h4 class="modal-title">แก้ไขสมาชิก</h4>
        </div>
        <div class="modal-body">
          <form class="m-b-30" #updatePasswordForm="ngForm" (ngSubmit)="clickUpdatePassword(updatePasswordForm)"
            novalidate>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">รหัสผ่านใหม่ <span class="text-danger">*</span></label>
                  <input class="form-control" type="password" name="password" [(ngModel)]="member.password" required>
                </div>

                <div class="form-group">
                  <label class="control-label">ยืนยันรหัสผ่าน <span class="text-danger">*</span></label>
                  <input class="form-control" type="password" name="password_confirm"
                    [(ngModel)]="member.password_confirm" required>
                </div>

              </div>
            </div>
            <div class="m-t-20 text-center">
              <div *ngIf="massStatus" class="alert alert-info m-t-10">
                <strong>แจ้งเตือน!</strong> {{mass}}
              </div>
              <button class="btn btn-primary" type="submit">บันทึก</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>