<div class="sidebar" id="sidebar" *ngIf="url != 'login' && url !='print_label' && url != ''">
  <div class="sidebar-inner slimscroll-wrap" slimScroll [options]="opts">
    <div id="sidebar-menu" class="sidebar-menu">
      <ul *ngIf="homeView">
        <!-- <li [ngClass]="[url === 'dashboard'? 'active' : 'inactive',url === ''? 'active' : 'inactive']">
                <a routerLink="dashboard"><i class="la la-dashboard"></i> <span> Dashboard </span></a>
              </li>
              <li *ngIf="permission.use_user_view == '1'" [ngClass]="url === 'users'? 'active' : 'null'">
                <a routerLink="users"><i class="la la-user-plus"></i> <span> Users </span></a>
              </li> -->
        <li [ngClass]="url === 'member'? 'active' : 'null'">
          <a routerLink="member"><i class="la la-users"></i> <span> สมาชิก </span></a>
        </li>
        <li [ngClass]="url === 'order'? 'active' : 'null'">
          <a routerLink="order"><i class="la la-file-alt"></i> <span> รายการสั่งซื้อ </span></a>
        </li>
        <li [ngClass]="url === 'orderagent'? 'active' : 'null'">
          <a routerLink="orderagent"><i class="la la-file-alt"></i> <span> รายการสั่งซื้อดรอปชิปเปอร์ </span></a>
        </li>
        <li [ngClass]="url === 'payment'? 'active' : 'null'">
          <a routerLink="payment"><i class="la la-dollar-sign"></i> <span> ชำระเงิน </span></a>
        <li [ngClass]="url === 'print'? 'active' : 'null'">
          <a routerLink="print"><i class="las la-print"></i> <span> พิมพ์ใบส่งของ </span></a>
        </li>
        <li [ngClass]="url === 'blog'? 'active' : 'null'">
          <a routerLink="blog"><i class="la la-book"></i> <span> บทความ </span></a>
        </li>
        <li [ngClass]="url === 'setting'? 'active' : 'null'">
          <a routerLink="setting"><i class="la la-cog"></i> <span> ตั้งค่าเว็บ </span></a>
        </li>
        <!-- <li *ngIf="permission.use_product_view == '1'" [ngClass]="url === 'product'? 'active' : 'null'">
                <a routerLink="product"><i class="la la-box"></i> <span> Product </span></a>
              </li>
              <li *ngIf="permission.use_order_view == '1'" [ngClass]="url === 'order'? 'active' : 'null'">
                <a routerLink="order"><i class="la la-file-alt"></i> <span> Order </span></a>
              </li>
              <li *ngIf="permission.use_delivery_view == '1'" [ngClass]="url === 'delivery'? 'active' : 'null'">
                <a routerLink="delivery"><i class="la la-truck"></i> <span> Delivery </span></a>
              </li>
              <li *ngIf="permission.use_stock_view == '1'" [ngClass]="url === 'stock'? 'active' : 'null'">
                <a routerLink="stock"><i class="la la-boxes"></i> <span> Stock </span></a>
              </li>
              <li class="submenu" *ngIf="permission.use_report == '1'">
                <a style="cursor: pointer;"><i class="la la-chart-area"></i> <span> Report</span> <span class="menu-arrow"></span></a>
                <ul class="list-unstyled" [ngClass]="url === 'report'? 'submenu-block' : 'dsply-none'">
                  <li *ngIf="permission.use_report_order == '1'"><a routerLink="report/orderreport" [ngClass]="url2 === 'orderreport'? 'active' : 'null'">Order Report</a></li>
                  <li *ngIf="permission.use_report_product == '1'"><a routerLink="report/productreport" [ngClass]="url2 === 'productreport'? 'active' : 'null'">Product Report</a></li>
                  <li *ngIf="permission.use_report_delivery == '1'"><a routerLink="report/deliveryreport" [ngClass]="url2 === 'deliveryreport'? 'active' : 'null'">Delivery Report</a></li>
                </ul>
              </li> -->
      </ul>
    </div>
    <div class="cover-bar"></div>
  </div>
</div>