<div class="page-wrapper">
  <div class="content container-fluid">
    <div class="row">
      <div class="col-xs-4">
        <h4 class="page-title">สินค้า</h4>
      </div>
      <div class="col-xs-8 text-right m-b-30">
        <a href="javascript:" class="btn btn-primary rounded" (click)="clickShowAddProduct()"><i class="fa fa-plus"></i>
          เพิ่มสินค้า</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive bottom40">
          <table datatable [dtOptions]="dtOptions" class="table table-striped custom-table">
            <thead>
              <tr>
                <th style="width: 50px">รหัส</th>
                <th style="width: 100px">รูปภาพ</th>
                <th>ชื่อ</th>
                <th>หมวดหมู่</th>
                <th style="width: 55px">การขาย</th>
                <th style="width: 30px">จัดการ</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of products">
                <td>{{ product.id }}</td>
                <td><img width="80" [src]="product.path"></td>
                <td>{{ product.name }}</td>
                <td>{{ product.category_name }}</td>
                <td>
                  <button *ngIf="product.active == 1" class="btn btn-success" (click)="clickProductNoActive(product)">เปิด</button>
                  <button *ngIf="product.active == 0" class="btn btn-danger"  (click)="clickProductActive(product)">ปิด</button>
                </td>
                <td class="text-right">
                  <div class="dropdown">
                    <a href="javascript:" class="action-icon dropdown-toggle" data-toggle="dropdown"
                      aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                    <ul class="dropdown-menu pull-right">
                      <li><a href="javascript:" (click)="clickShowUpdateProduct(product)"><i
                            class="fa fa-pencil m-r-5"></i>
                          แก้ไข</a></li>
                    </ul>
                  </div>
                </td>
              </tr>
              <tr *ngIf="products?.length == 0">
                <td colspan="6" class="no-data-available">ไม่พบข้อมูล!</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


  <div id="add_product" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog" *ngIf="addStatus=='add'">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <div class="modal-content modal-lg">
        <div class="modal-header">
          <h4 class="modal-title">เพิ่มสินค้า</h4>
        </div>
        <div class="modal-body">
          <form class="m-b-30" #addForm="ngForm" (ngSubmit)="clickAddProduct(addForm)" novalidate>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">ชื้อสินค้า <span class="text-danger">*</span></label>
                  <input class="form-control" type="text" name="name" [(ngModel)]="product.name" required>
                </div>

                <div class="form-group">
                  <label>คำอธิบายสินค้า</label>
                  <textarea class="form-control" name="description" [(ngModel)]="product.description"
                    rows="3"></textarea>
                </div>

                <div class="form-group">
                  <label>รายระเอียดสินค้า</label>
                  <textarea class="form-control" name="detail" [(ngModel)]="product.detail" rows="10"></textarea>
                </div>

                <div class="form-group required-field">
                  <label for="acc-name">หมวดหมู่สินค้า</label>
                  <select class="select form-control" [(ngModel)]="product.category_id" name="category_id" required>
                    <option *ngFor="let cat of category" value="{{cat.id}}">{{cat.name}}
                    </option>
                  </select>
                </div>

                <div class="form-group">
                  <label class="control-label">ราคาตลาด (ราคาก่อนลดราคา) <span class="text-danger">*</span></label>
                  <input class="form-control" type="text" name="standard_price" [(ngModel)]="product.standard_price"
                    required numbersOnly>
                </div>

              </div>
              <div class="col-md-6">

                <div class="form-group">
                  <label>รูปสินค้า</label>
                  <table class="table table-striped custom-table">
                    <thead>
                      <tr>
                        <th style="width: 80px">รูปที่</th>
                        <th>รูปสินค้า</th>
                        <th>รูปหลัก</th>
                        <th style="width: 30px">ลบ</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let image of product.product_image;index as i">
                        <td style="width: 80px">{{i+1}}</td>
                        <td><img style="width:60px;height: 60px;margin: 5px;" [src]="image.image" /></td>
                        <td *ngIf="image.main ==true" style="width: 70px"><button class="btn btn-default" type="button"
                            disabled>รูปหลัก</button></td>
                        <td *ngIf="image.main ==false" style="width: 70px"><button class="btn btn-success" type="button"
                            (click)="clickMain(image)">รูปหลัก</button></td>
                        <td style="width: 30px"><button class="btn btn-danger" type="button"
                            (click)="clickDeleteImage(image)">ลบ</button></td>
                      </tr>
                    </tbody>
                  </table>

                  <div class="m-t-20 text-center" *ngIf="product.product_image.length < 8">
                    <button class="btn btn-success" type="button" (click)="uploadImage()">อัพโหลดรูปสินค้า</button>
                  </div>

                  <input id="uploadImage" type="file" (change)="cropImage($event)" accept="image/x-png,image/jpeg"
                    style="display: none;">
                </div>

                <div class="form-group">
                  <label>รูปแบบสินค้า</label>
                  <table class="table table-striped custom-table">
                    <thead>
                      <tr>
                        <th style="width: 40%">รูปแบบ</th>
                        <th>ราคา</th>
                        <th>คงเหลือ</th>
                        <th style="width: 30px">ลบ</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let type of product.product_type;index as i">
                        <td><input class="form-control" type="text" name="type_name_{{i}}" [(ngModel)]="type.name"
                            required></td>

                        <td><input class="form-control" type="text" name="type_price_{{i}}" [(ngModel)]="type.price"
                            required numbersOnly></td>

                        <td><input class="form-control" type="text" name="type_stock_{{i}}" [(ngModel)]="type.stock"
                            required numbersOnly></td>

                        <td *ngIf="i == 0" style="width: 30px"><button class="btn btn-default" type="button"
                            disabled>ลบ</button></td>
                        <td *ngIf="i != 0" style="width: 30px"><button class="btn btn-danger" type="button"
                            (click)="clickDeleteType(type)">ลบ</button></td>
                      </tr>
                    </tbody>
                  </table>

                  <div class="m-t-20 text-center" *ngIf="product.product_type.length < 5">
                    <button class="btn btn-success" type="button" (click)="addType()">เพิ่มราคา</button>
                  </div>

                </div>

                <!-- <div class="form-group">
                  <label>ราคาสินค้า</label>
                  <table class="table table-striped custom-table">
                    <thead>
                      <tr>
                        <th style="width: 40%">จำนวน</th>
                        <th>ราคา</th>
                        <th style="width: 30px">ลบ</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let price of product.pro_price_list;index as i">
                        <td *ngIf="i == 0">{{price.count}}</td>
                        <td *ngIf="i != 0"><input class="form-control" type="text" name="count_{{i}}"
                            [(ngModel)]="price.count" required numbersOnly></td>

                        <td *ngIf="i == 0">{{price.price}}</td>
                        <td *ngIf="i != 0"><input class="form-control" type="text" name="price_{{i}}"
                            [(ngModel)]="price.price" required numbersOnly></td>

                        <td *ngIf="i == 0" style="width: 30px"><button class="btn btn-default" type="button"
                            disabled>ลบ</button></td>
                        <td *ngIf="i != 0" style="width: 30px"><button class="btn btn-danger" type="button"
                            (click)="clickDeletePrice(price)">ลบ</button></td>
                      </tr>
                    </tbody>
                  </table>

                  <div class="m-t-20 text-center" *ngIf="product.pro_price_list.length < 5">
                    <button class="btn btn-success" type="button" (click)="addPriceList()">เพิ่มราคา</button>
                  </div>

                </div> -->

              </div>
            </div>
            <div class="m-t-20 text-center">
              <div *ngIf="massStatus" class="alert alert-info m-t-10">
                <strong>แจ้งเตือน!</strong> {{mass}}
              </div>
              <button class="btn btn-primary" type="submit">เพิ่มสินค้า</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal-dialog" *ngIf="addStatus=='crop'">
      <button type="button" class="close" (click)="addStatus='add'">&times;</button>
      <div class="modal-content modal-lg">
        <div class="modal-header">
          <h4 class="modal-title">จัดการรูปสินค้า</h4>
        </div>
        <div class="modal-body">
          <form class="m-b-30">
            <div class="row">
              <div class="col-md-12">
                <div style="margin: auto;width: 50%;">
                  <image-cropper style="max-width: 500px;" [imageChangedEvent]="originalImage"
                    [maintainAspectRatio]="true" [aspectRatio]="1" format="png" (imageCropped)="imageCropped($event)">
                  </image-cropper>
                </div>
              </div>
            </div>
            <div class="m-t-20 text-center">
              <div *ngIf="massStatus" class="alert alert-info m-t-10">
                <strong>แจ้งเตือน!</strong> {{mass}}
              </div>
              <button style="margin-right: 10px;" class="btn btn-default" type="button"
                (click)="addStatus='add'">กลับ</button>
              <button class="btn btn-primary" type="button" (click)="cropSave()">บันทึก</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div id="update_product" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog" *ngIf="addStatus=='add'">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <div class="modal-content modal-lg">
        <div class="modal-header">
          <h4 class="modal-title">แก้ไขสินค้า</h4>
        </div>
        <div class="modal-body">
          <form class="m-b-30" #updateForm="ngForm" (ngSubmit)="clickUpdateProduct(updateForm)" novalidate>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">ชื้อสินค้า <span class="text-danger">*</span></label>
                  <input class="form-control" type="text" name="name" [(ngModel)]="product.name" required>
                </div>

                <div class="form-group">
                  <label>คำอธิบายสินค้า</label>
                  <textarea class="form-control" name="description" [(ngModel)]="product.description"
                    rows="3"></textarea>
                </div>

                <div class="form-group">
                  <label>รายระเอียดสินค้า</label>
                  <textarea class="form-control" name="detail" [(ngModel)]="product.detail" rows="10"></textarea>
                </div>

                <div class="form-group required-field">
                  <label for="acc-name">หมวดหมู่สินค้า</label>
                  <select class="select form-control" [(ngModel)]="product.category_id" name="category_id" required>
                    <option *ngFor="let cat of category" value="{{cat.id}}">{{cat.name}}
                    </option>
                  </select>
                </div>

                <div class="form-group">
                  <label class="control-label">ราคาตลาด (ราคาก่อนลดราคา) <span class="text-danger">*</span></label>
                  <input class="form-control" type="text" name="standard_price" [(ngModel)]="product.standard_price"
                    required numbersOnly>
                </div>

              </div>
              <div class="col-md-6">

                <div class="form-group">
                  <label>รูปสินค้า</label>
                  <table class="table table-striped custom-table">
                    <thead>
                      <tr>
                        <th style="width: 80px">รูปที่</th>
                        <th>รูปสินค้า</th>
                        <th>รูปหลัก</th>
                        <th style="width: 30px">ลบ</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let image of product.product_image;index as i">
                        <td style="width: 80px">{{i+1}}</td>
                        <td *ngIf="image.image == ''"><img style="width:60px;height: 60px;margin: 5px;"
                            [src]="image.path" /></td>
                        <td *ngIf="image.image !=''"><img style="width:60px;height: 60px;margin: 5px;"
                            [src]="image.image" /></td>
                        <td *ngIf="image.main ==true" style="width: 70px"><button class="btn btn-default" type="button"
                            disabled>รูปหลัก</button></td>
                        <td *ngIf="image.main ==false" style="width: 70px"><button class="btn btn-success" type="button"
                            (click)="clickMain(image)">รูปหลัก</button></td>
                        <td style="width: 30px"><button class="btn btn-danger" type="button"
                            (click)="clickDeleteImage(image)">ลบ</button></td>
                      </tr>
                    </tbody>
                  </table>

                  <div class="m-t-20 text-center" *ngIf="product.product_image.length < 8">
                    <button class="btn btn-success" type="button" (click)="uploadImage()">อัพโหลดรูปสินค้า</button>
                  </div>

                  <input id="uploadImage" type="file" (change)="cropImage($event)" accept="image/x-png,image/jpeg"
                    style="display: none;">
                </div>

                <div class="form-group">
                  <label>รูปแบบสินค้า</label>
                  <table class="table table-striped custom-table">
                    <thead>
                      <tr>
                        <th style="width: 40%">รูปแบบ</th>
                        <th>ราคา</th>
                        <th>คงเหลือ</th>
                        <th style="width: 30px">ลบ</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let type of product.product_type;index as i">
                        <td><input class="form-control" type="text" name="type_name_{{i}}" [(ngModel)]="type.name"
                            required></td>

                        <td><input class="form-control" type="text" name="type_price_{{i}}" [(ngModel)]="type.price"
                            required numbersOnly></td>

                        <td><input class="form-control" type="text" name="type_stock_{{i}}" [(ngModel)]="type.stock"
                            required numbersOnly></td>

                        <td *ngIf="i == 0" style="width: 30px"><button class="btn btn-default" type="button"
                            disabled>ลบ</button></td>
                        <td *ngIf="i != 0" style="width: 30px"><button class="btn btn-danger" type="button"
                            (click)="clickDeleteType(type)">ลบ</button></td>
                      </tr>
                    </tbody>
                  </table>

                  <div class="m-t-20 text-center" *ngIf="product.product_type.length < 5">
                    <button class="btn btn-success" type="button" (click)="addType()">เพิ่มราคา</button>
                  </div>

                </div>

              </div>
            </div>
            <div class="m-t-20 text-center">
              <div *ngIf="massStatus" class="alert alert-info m-t-10">
                <strong>แจ้งเตือน!</strong> {{mass}}
              </div>
              <button class="btn btn-primary" type="submit">บันทึก</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal-dialog" *ngIf="addStatus=='crop'">
      <button type="button" class="close" (click)="addStatus='add'">&times;</button>
      <div class="modal-content modal-lg">
        <div class="modal-header">
          <h4 class="modal-title">จัดการรูปสินค้า</h4>
        </div>
        <div class="modal-body">
          <form class="m-b-30">
            <div class="row">
              <div class="col-md-12">
                <div style="margin: auto;width: 50%;">
                  <image-cropper style="max-width: 500px;" [imageChangedEvent]="originalImage"
                    [maintainAspectRatio]="true" [aspectRatio]="1" format="png" (imageCropped)="imageCropped($event)">
                  </image-cropper>
                </div>
              </div>
            </div>
            <div class="m-t-20 text-center">
              <div *ngIf="massStatus" class="alert alert-info m-t-10">
                <strong>แจ้งเตือน!</strong> {{mass}}
              </div>
              <button style="margin-right: 10px;" class="btn btn-default" type="button"
                (click)="addStatus='add'">กลับ</button>
              <button class="btn btn-primary" type="button" (click)="cropSave()">บันทึก</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>