<div class="page-wrapper">
  <div class="content container-fluid">
    <div class="row">
      <div class="col-xs-4">
        <h4 class="page-title">พิมพ์ใบส่งของ</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label class="control-label">ชื่อร้านค้า</label>
              <input class="form-control" type="text" [(ngModel)]="user.search.sho_name">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="control-label">ชื่อสินค้า</label>
              <input class="form-control" type="text" [(ngModel)]="user.search.pro_name">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="control-label">ชื่อชนิดสินค้า</label>
              <input class="form-control" type="text" [(ngModel)]="user.search.prot_name">
            </div>
          </div>
          <div class="col-md-12" style="text-align: center;">
            <button class="btn btn-primary" type="button" (click)="clickSearch()">ค้นหา</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row" style="margin-top: 50px;" *ngIf="orders?.length > 0 || orders_agent?.length > 0">
      <div class="col-md-12">
        <button class="btn btn-info" style="float: right;" type="button" (click)="clickPrintAll()"><i class="las la-print"> พิมพ์ทั้งหมด</i></button>
      </div>
    </div>

    <div class="row" style="margin-top: 20px;" *ngIf="orders?.length > 0">
      <div class="col-md-12">
        <h4 class="page-title">รายการส่งของ {{orders?.length}} รายการ</h4>
      </div>
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-striped custom-table">
            <thead>
              <tr>
                <th>รหัส</th>
                <th>วันที่สั่งซื้อ</th>
                <th>ร้านค้า</th>
                <th>สินค้า</th>
                <th>ชนิดสินค้า</th>
                <th>เลขพัสดุ</th>
                <th>ค่าสินค้า</th>
                <th style="width: 100px">สถานะ</th>
                <th style="width: 30px">พิมพ์</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ord of orders">
                <td>{{ ord.ord_id }}</td>
                <td>{{ ord.ord_createdate}}</td>
                <td>{{ ord.sho_name }}</td>
                <td>{{ ord.pro_name }}</td>
                <td>{{ ord.prot_name }}</td>
                <td>{{ ord.ord_tracking }}</td>
                <td *ngIf="ord.ord_cod == '0'">ชำระแล้ว</td>
                <td *ngIf="ord.ord_cod == '1'">เก็บเงินปลายทาง</td>
                <td>
                  <span *ngIf="ord.ord_print == '0'" class="label label-danger-border">ยังไม่พิมพ์</span>
                  <span *ngIf="ord.ord_print == '1'" class="label label-success-border">พิมพ์แล้ว</span>
                </td>
                <td style="text-align: center;"><i style="font-size:32px;cursor: pointer;" class="las la-print" (click)="clickPrintOrder(ord)"></i>
                </td>
              </tr>
              <tr *ngIf="orders?.length == 0">
                <td colspan="9" class="no-data-available">ไม่พบข้อมูล!</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="row" style="margin-top: 50px;" *ngIf="orders_agent?.length > 0">
      <div class="col-md-12">
        <h4 class="page-title">รายการส่งของดรอปชิปเปอร์ {{orders_agent?.length}} รายการ</h4>
      </div>
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-striped custom-table">
            <thead>
              <tr>
                <th>รหัส</th>
                <th>วันที่สั่งซื้อ</th>
                <th>ร้านค้า</th>
                <th>สินค้า</th>
                <th>ชนิดสินค้า</th>
                <th>เลขพัสดุ</th>
                <th>ค่าสินค้า</th>
                <th style="width: 100px">สถานะ</th>
                <th style="width: 30px">พิมพ์</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ord of orders_agent">
                <td>{{ ord.orda_id }}</td>
                <td>{{ ord.orda_createdate}}</td>
                <td>{{ ord.sho_name }}</td>
                <td>{{ ord.pro_name }}</td>
                <td>{{ ord.prot_name }}</td>
                <td>{{ ord.orda_tracking }}</td>
                <td *ngIf="ord.orda_cod == '0'">ชำระแล้ว</td>
                <td *ngIf="ord.orda_cod == '1'">เก็บเงินปลายทาง</td>
                <td>
                  <span *ngIf="ord.orda_print == '0'" class="label label-danger-border">ยังไม่พิมพ์</span>
                  <span *ngIf="ord.orda_print == '1'" class="label label-success-border">พิมพ์แล้ว</span>
                </td>
                <td style="text-align: center;"><i style="font-size:32px;cursor: pointer;" class="las la-print" (click)="clickPrintOrdera(ord)"></i>
                </td>
              </tr>
              <tr *ngIf="orders_agent?.length == 0">
                <td colspan="9" class="no-data-available">ไม่พบข้อมูล!</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>